@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail about us and discovery more.</p>

<h2>@ViewData["Title1"]</h2>

<p> </p>
<p>My name is Heuler Silva.</p>

<h3>@ViewData["Title2"]</h3>