@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SalesWebMVC</h1>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p>Learn about <a >building Web apps with ASP.NET Core, by Heuler Silva</a>.</p>
</div>
